<a href="https://colab.research.google.com/github/Balajits/linear_regression_multiple_value/blob/main/linearRegressionMultipleVariable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [17]:
df = pd.read_csv('hiring.csv')
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           4                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [19]:
import math
median_test_score = math.floor(df['test_score(out of 10)'].mean())
median_test_score

7

In [20]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_test_score)

In [21]:
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           4                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    7.0                           7      72000
7          11                    7.0                           8      80000

In [22]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)', 'interview_score(out of 10)']], df['salary($)'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
reg.predict([[2,9,6]])

array([53916.88051846])

In [24]:
reg.predict([[12,10,10]])

array([92044.34343874])